### slicing , indexing

In [1]:
mystr = "bobby is a good boy and he is innocent haha"

In [2]:
mystr

'bobby is a good boy and he is innocent haha'

In [8]:
mystr[-1] and mystr[3]

'b'

In [22]:
mystr[2:] #slicing from index 2 to end

'bby is a good boy and he is innocent haha'

In [29]:
mystr[3:15] #from index to index

'by is a good'

In [34]:
mystr[::2] #go in jumps of two

'bbyi  odbyadh sincn aa'

In [37]:
mystr[1:17:2]

'ob sago '

### string and method

In [38]:
#immutable is thing u cannot change
name ="bobby"

In [41]:
last_letter = name[1:]

In [42]:
last_letter

'obby'

In [46]:
'T' + last_letter #concat with two string

'Tobby'

In [49]:
name *10

'bobbybobbybobbybobbybobbybobbybobbybobbybobbybobby'

In [54]:
x='hello world'

In [58]:
x.upper() #simlrly lower method

'HELLO WORLD'

In [59]:
x.split()

['hello', 'world']

In [60]:
x='hi this is a string'

In [61]:
x.split()

['hi', 'this', 'is', 'a', 'string']

In [62]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

### format string

In [65]:

print('this is a srting {}'.format('Inserted'))

this is a srting Inserted

In [73]:
print('the {f} {p} {bb} {b}'.format(f='fox',b='bird',bb='brown',p='pora rey'))

the fox pora rey brown bird

In [75]:
res= 100/777

In [81]:
res

0.1287001287001287

In [82]:
print("the result was {r:1.2f}".format(r=res)) #i also round the value

the result was 0.13

In [84]:
#alternstive to last time step, formated string method
name="jose"

In [86]:
print(f'hello, his name is {name}')

hello, his name is jose

### lists

In [33]:
mylist = [1,'po ra','idk off',4,5]

In [34]:
len(mylist )

5

In [35]:
mylist[1:] #except 1st element 'index 0'

['po ra', 'fuck off', 4, 5]

In [36]:
mylist.append('six') #add new element

In [37]:
mylist

[1, 'po ra', 'fuck off', 4, 5, 'six']

In [38]:
#remove items (pop) method
mylist.pop()

'six'

In [39]:
mylist.pop(2)

'fuck off'

### dictionary

In [1]:
dictionary={'key1':'hello', 'key2':'this is bobby'}

In [9]:
dictionary['key2'] + dictionary['key1']

'this is bobbyhello'

In [12]:
d = {'k1':'po ra', 'k2': '[pora rey]', 'k3':{'inside key': 'hahaha'} }

In [17]:
d['k2']

'[pora puka]'

In [21]:
d['k3']['inside key'].upper()

'HAHAHA'

In [22]:
d1={'k1': 123, 'k2': 'buttabomma', 'k3': 'ala vaikuntapuram lo'}

In [23]:
d1

{'k1': 123, 'k2': 'buttabomma', 'k3': 'ala vaikuntapuram lo'}

In [24]:
movie = d1['k3']

In [25]:
movie

'ala vaikuntapuram lo'

In [26]:
song = d1['k2']

In [27]:
song

'buttabomma'

In [29]:
movie.upper()

'ALA VAIKUNTAPURAM LO'

In [30]:
d1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [32]:
d1.values()

dict_values([123, 'buttabomma', 'ala vaikuntapuram lo'])

In [31]:
d1.items()

dict_items([('k1', 123), ('k2', 'buttabomma'), ('k3', 'ala vaikuntapuram lo')])

### tuples  , difference bw list and tuple is immutable, in tuple we cannot change the values inside, but in list we can

In [48]:
t = (1,2,3,4,4,2,2,2,3,4,2,2,4,1,2,1,2,3,1,2,3,1,2,1)

In [49]:
mylist = [1,2,3,4]

In [51]:
t.count(1)

6

In [53]:
t.index(1)

0

In [56]:
mylist[0] = 'new' #in list we can assign new value to existing values

In [57]:
mylist

['new', 2, 3, 4]

In [59]:
t[0] = 'new1' # in tuple we cannot assign values for already existing values

TypeError: 'tuple' object does not support item assignment

### sets

In [60]:
set1 = set()

In [63]:
set1.add(1)

In [71]:
set1.add(2)

In [72]:
set1

{1, 2}

In [73]:
list1 = [1,1,1,2,2,2,23,3,3,4,4,4,1]

In [74]:
set(list1)

{1, 2, 3, 4, 23}

### booleans and exercise 1

In [76]:
#true or false statements
1>2

False

In [77]:
1==2

False

In [78]:
1==1

True

In [86]:
s='hello'

In [89]:
s[1] # index 1

'e'

In [96]:
s[::-1] #reverse the string using slicing

'olleh'

In [99]:
list3 = [1,2,[3,4,'hello']]

In [100]:
list3

[1, 2, [3, 4, 'hello']]

In [120]:
listt=[5,3,6,7,1]

In [121]:
listt.sort()

In [122]:
listt

[1, 3, 5, 6, 7]

In [123]:
c={'k1':{'k2':'hello'}}

In [128]:
c['k1']

{'k2': 'hello'}

In [129]:
c['k1']['k2']

'hello'

In [130]:
c1={'k1':[{'nest_key':['ths is deep',['hello']]}]}

In [135]:
c1['k1']

[{'nest_key': ['ths is deep', ['hello']]}]

In [155]:
c1['k1'][0]['nest_key'][1][0]

'hello'

In [156]:
c2={'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [157]:
c2['k1'][2]

{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}

In [158]:
c2['k1'][2]['k2'][1]['tough'][2][0]

'hello'

# comparision and logical operators

In [162]:
1==2 or 1==1 #anyone should be true it gives true

True

In [164]:
1<2<3

True

In [166]:
1<2 and 2<3 #both should be true the true

True

In [168]:
not(1==1) #~negation of the result

False

### if else elif

In [177]:
study = True
if study==False:
    print("pass")
    
elif study==True:
    print("po ra")
    
else:
    print("fail")

po ra

In [186]:
name = 'bobby'

if name == 'sharath':
    print('hello sharath')
elif name == 'leroy':
    print('hello leroy')
elif name == 'bobby':
    print('hello superstar bobby')
else:
    print('po ra naku ni peru teleedu')

hello superstar bobby

### for loops

In [190]:
my =[1,2,3,'haha', 'pora', 'puka']
for item in my:
    print(item)

1
2
3
haha
pora
puka

In [201]:
i=0
n=10
for i in range(n): #range is used for numbers only
    print(i)
    i+1

0
1
2
3
4
5
6
7
8
9

In [216]:
mylist = [1,2,3,4,5,6,7,8,9,10] #range is not used insterd i use variable name
for i in mylist:
    print(i , 'hello')
    i+1

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
10 hello

In [230]:
for i in mylist:
    if i % 2 == 0:
        print(i)
    else:
        print(f'odd:{i}')

odd:1
2
odd:3
4
odd:5
6
odd:7
8
odd:9
10

In [250]:
mylist = [1,2,3,4,5,6,7,8,9,10] #same works for tuple also

list=0
for i in mylist:
    list = list + i
print(list)

55

In [251]:
string = "pora puka, dont play games with bobby"
for i in string:
    print(i)

p
o
r
a

p
u
k
a
,

d
o
n
t

p
l
a
y

g
a
m
e
s

w
i
t
h

b
o
b
b
y

In [252]:
list1 = [(1,2,3),(4,5,6,7),(11,3,55,6,7,90,0)]

In [258]:
for (a,b,c) in list1: #this works when tuple's size are all same, called tuple unpacking
    print(a)
    print(b)
    print(c)

1
2
3

ValueError: too many values to unpack (expected 3)

In [261]:
list1 = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in list1:
    #print(a)
    print(b) #u can access only to tuple assigned to 'b'
    #print(c)

2
5
8

In [277]:
#in dictionary of many values u cannot expect the output to be in the same order
#for items in d.items(): #works with dictonaries 
 #   print(items)
for key, value in d.items():
    #print(key) # gives the key
    print(value) #gives the values

1
2
3

### while loops

In [4]:
x = 0
while x < 5:
    print(f'the current x is {x}')
    x +=1
else: 
    print("x is not less than 5")

the current x is 0
the current x is 1
the current x is 2
the current x is 3
the current x is 4
x is not less than 5

break , continue, pass keyword

In [15]:
string = 'bobby is a very good boy'

for i in string:
    if i == 'b':
        continue
    print(i)

o
y

i
s

a

v
e
r
y

g
o
o
d

o
y

In [28]:
xx = 0
while xx<5: 
    if xx==2:
        break
    print(xx)
    xx+=1

0
1

range function

In [31]:
ll = [1,1,1,1,2,2,2,2,3,3,3,4,4,4,5,5,5,6,6,7,8,9,8,8,9,9,]

In [39]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [40]:
index_count = 0 #normal method
for i in 'hot bobby':
    print('there is {} in the room {}'.format(index_count,i))
    index_count +=1

there is 0 in the room h
there is 1 in the room o
there is 2 in the room t
there is 3 in the room
there is 4 in the room b
there is 5 in the room o
there is 6 in the room b
there is 7 in the room b
there is 8 in the room y

In [49]:
#enumarate function gives us the tuples as output
word = 'bobby is hot'
for i in enumerate(word):
    print(i)

(0, 'b')
(1, 'o')
(2, 'b')
(3, 'b')
(4, 'y')
(5, ' ')
(6, 'i')
(7, 's')
(8, ' ')
(9, 'h')
(10, 'o')
(11, 't')

In [52]:
#zip function
#it zips two lists
l1 =[1,2,3]
l2 =['a','b','c']
l3 =['lalalala', 'hahahahah', 'pora puka']

In [53]:
for i in zip(l1,l2,l3):
    print(i) #gives tuple as output

(1, 'a', 'lalalala')
(2, 'b', 'hahahahah')
(3, 'c', 'pora puka')

In [54]:
list(zip(l1,l2,l3))

[(1, 'a', 'lalalala'), (2, 'b', 'hahahahah'), (3, 'c', 'pora puka')]

In [59]:
#in operator works for lists, dict, string etc;
2 in [1,2,3]  #true
 
's' in ['k', 4] #false

False

In [76]:
from random import shuffle
from random import randint

In [77]:
ll1=[1,2,3,4,5,6,7,8,9,11,223,454,54]

In [78]:
shuffle(ll1)

In [79]:
ll1

[2, 11, 454, 5, 3, 8, 223, 9, 1, 54, 7, 4, 6]

In [84]:
randint(0,100)

65

In [89]:
#input from user
result=input('enter a number: ')

enter a number: 76576

In [90]:
int(result) #since result will be in string value and need in int

76576

In [7]:
d = {'key1': 1, 'key2':'lalalala'}

In [8]:
d

{'key1': 1, 'key2': 'lalalala'}

In [10]:
1 in d.values()

True

In [11]:
#append to my list

In [12]:
mystr = 'hello bobby'

In [13]:
mylist = []
for i in mystr:
    mylist.append(i)

In [14]:
mylist

['h', 'e', 'l', 'l', 'o', ' ', 'b', 'o', 'b', 'b', 'y']

In [15]:
#same program in other form
mylistt = [ i for i in mystr] #called flaten version of for loop

In [16]:
mylistt

['h', 'e', 'l', 'l', 'o', ' ', 'b', 'o', 'b', 'b', 'y']

In [19]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
cel = [0,10,20,34.5]

fer = [((9/5)*i + 32) for i in cel] #flat version of for loop

In [23]:
fer

[32.0, 50.0, 68.0, 94.1]

In [29]:
la = [i for i in range(0,50) if i%2==0]

print(la)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [48]:
lol = [i if i%2==0 else 'odd' for i in range(0,11)] #if else inside list comprihension

In [49]:
lol

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [58]:
#nested loop in list comprihension
l1 =[]
samp1 = [2,4,6]
samp2 = [100,200,300]
for i1 in samp1:
    for i2 in samp2:
        l1.append(i1*i2)

In [59]:
l1

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [82]:
#test
st = 'Si Print only the wprds that starting with s in this statement'

In [83]:
st.split()

['Si',
 'Print',
 'only',
 'the',
 'wprds',
 'that',
 'starting',
 'with',
 's',
 'in',
 'this',
 'statement']

In [86]:
for i in st.split():
    if i[0].lower()=='s':
        print(i)

Si
starting
s
statement

In [88]:
for i in st.split():
    if len(i)%2==0:
        print(i+ ' is even')

Si is even
only is even
that is even
starting is even
with is even
in is even
this is even

In [94]:
for i in range(0,101):
    if i%3==0 and i%5==0:
        print(f'by 3 and 5 which is {i}')
    elif i%3==0:
        print('by 3')
    elif i%5==0:
        print('by 5')
    else:
        print(i)

by 3 and 5 which is 0
1
2
by 3
4
by 5
by 3
7
8
by 3
by 5
11
by 3
13
14
by 3 and 5 which is 15
16
17
by 3
19
by 5
by 3
22
23
by 3
by 5
26
by 3
28
29
by 3 and 5 which is 30
31
32
by 3
34
by 5
by 3
37
38
by 3
by 5
41
by 3
43
44
by 3 and 5 which is 45
46
47
by 3
49
by 5
by 3
52
53
by 3
by 5
56
by 3
58
59
by 3 and 5 which is 60
61
62
by 3
64
by 5
by 3
67
68
by 3
by 5
71
by 3
73
74
by 3 and 5 which is 75
76
77
by 3
79
by 5
by 3
82
83
by 3
by 5
86
by 3
88
89
by 3 and 5 which is 90
91
92
by 3
94
by 5
by 3
97
98
by 3
by 5

### Methods and build in ojects

In [100]:
#write a word and press TAB to know the methods to be implemented on the method

### functions

In [111]:
#syntax
def name_fun(name='bobby'): #default name = bobby
    print('hello '+name)

In [113]:
name_fun()

hello bobby

In [122]:
def add(a,b):
    return a+b

In [123]:
add(4,5)

9

In [124]:
def dog_check(mystr):
    return 'dog' in mystr.lower()

In [125]:
dog_check('po ra na dog poindi')

True

#### PIG LATIN

In [134]:
def secret(word):
    letter1 = word[0]
    
    if letter1 in 'aeiou':
        secret_word = word + 'ay'
    else:
        secret_word = word[1:]+letter1 +'ay'
    return secret_word

In [135]:
secret('sharath')

'harathsay'

## *args and *kwargs

In [161]:
#if u want many arguments inside the function we use *args,
#python takes it as *=depends on the user given agrs
def myfunc(*args):
    return sum(args) * 0.05

In [164]:
myfunc(40,60,10,865,756,456,45456,364545,77,6,57,65) #takes many number of args

20619.65

In [181]:
# **kwargs are keyword arguments
def myfun(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('nak m fruit kanapadale :( '.format(kwargs['veg']))

In [182]:

myfun(fruit='apple', veg = 'potato')

{'fruit': 'apple', 'veg': 'potato'}
my fruit of choice is apple

In [1]:
n = 2
print('HI a')
for a in range(0,10):
    if(a<10):
        A = a**n
        a = a+1 
        print('HI a')
        for b in range(0,10):
            if(b<10):
                B = b**n
                b = b+1
                print('HI b')
                for c in range(0,10):
                    if(c<10):
                        C = c**n
                        c=c+1
                        print('hi c')
                        if(C==A+B):
                            print(a,'^4 +',b,'^4 =',c,'^4')

HI a
HI a
HI b
hi c
1 ^4 + 1 ^4 = 1 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
1 ^4 + 2 ^4 = 2 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
1 ^4 + 3 ^4 = 3 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
1 ^4 + 4 ^4 = 4 ^4
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
1 ^4 + 5 ^4 = 5 ^4
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 6 ^4 = 6 ^4
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 7 ^4 = 7 ^4
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 8 ^4 = 8 ^4
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 9 ^4 = 9 ^4
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 10 ^4 = 10 ^4
HI a
HI b
hi c
hi c
2 ^4 + 1 ^4 = 2 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
3 ^4 + 1 ^4 = 3 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
4 ^4 + 1 ^4 = 4 ^4
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
4 ^4 + 5 ^4 = 6 ^4
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
5 ^4 + 1 ^4 = 5 ^4
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
5 ^4 + 4 ^4 = 6 ^4
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
6 ^4 + 1 ^4 = 6 ^4
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
7 ^4 + 1 ^4 = 7 ^4
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
8 ^4 + 1 ^4 = 8 ^4
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
9 ^4 + 1 ^4 = 9 ^4
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
10 ^4 + 1 ^4 = 10 ^4
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c

In [2]:
n = 2
print('HI a')
for a in range(0,10):
    if(a<10):
        A = a**n
        a = a+1 
        print('HI a')
        for b in range(0,10):
            if(b<10):
                B = b**n
                b = b+1
                print('HI b')
                for c in range(0,10):
                    if(c<10):
                        C = c**n
                        c=c+1
                        print('hi c')
                        if(C==A+B):
                            print(a,'^4 +',b,'^4 =',c,'^4')

HI a
HI a
HI b
hi c
1 ^4 + 1 ^4 = 1 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
1 ^4 + 2 ^4 = 2 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
1 ^4 + 3 ^4 = 3 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
1 ^4 + 4 ^4 = 4 ^4
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
1 ^4 + 5 ^4 = 5 ^4
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 6 ^4 = 6 ^4
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 7 ^4 = 7 ^4
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 8 ^4 = 8 ^4
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 9 ^4 = 9 ^4
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
1 ^4 + 10 ^4 = 10 ^4
HI a
HI b
hi c
hi c
2 ^4 + 1 ^4 = 2 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
3 ^4 + 1 ^4 = 3 ^4
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
4 ^4 + 1 ^4 = 4 ^4
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
4 ^4 + 5 ^4 = 6 ^4
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
5 ^4 + 1 ^4 = 5 ^4
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
5 ^4 + 4 ^4 = 6 ^4
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
6 ^4 + 1 ^4 = 6 ^4
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
7 ^4 + 1 ^4 = 7 ^4
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
8 ^4 + 1 ^4 = 8 ^4
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
9 ^4 + 1 ^4 = 9 ^4
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI a
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
10 ^4 + 1 ^4 = 10 ^4
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
HI b
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c
hi c

In [20]:
def num(a,b):
    if a%2==0 and b%2==0:
        if(a<b):
            print(a)
        else:
            print(b)
    elif(a<b):
        print(b)
    else:
        print(a)

In [22]:
num(7,9)

9

In [46]:
def animal(text):
    wordlist = text.lower().split()
    print(wordlist)
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

In [49]:
animal('Oev oolded')

['oev', 'oolded']

True

In [50]:
def make20(a,b):
    if a + b == 20:
        return True
    elif a ==20:
        return True
    elif b == 20:
        return True
    else: return False

In [52]:
make20(12,8)

True

In [61]:
def upr(name):
    first = name[0]
    half = name[1:3]
    second = name[3]
    halff = name[4:]
    return first.upper() + half + second.upper() + halff

In [62]:
upr('macdonald')

'MacDonald'

In [63]:
def has33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

In [67]:
has33([1,3,1,33])

False

## map , filter and lambda


## scope variables

In [1]:
x = 25

def printer():
    x=50
    return x

In [2]:
x #how?

25

In [4]:
printer() #how?

50

## LEGB rules
### the way the python looks for variables
### local, enclosing, global, built in

In [5]:
lambda num: num**2  #local variable, num is local for lambda expression

In [12]:
name ='this is a global string'  #ex of enclosing function local
def greet():
    name = 'sammy'
    def hello():
        print('hello '+name)
    hello()
greet()

hello sammy

In [18]:
x = 50
def func(x):
    print(f'X is {x}')
    
    #local reassignment
    x = 200
    print(f'it just locally changed X to {x}')

In [19]:
func(x)

X is 50
it just locally changed X to 200

In [25]:
string = 'Hello Bolo'

In [29]:
count1 = 0
count2 = 0
for i in string:
    if i == string.upper():
        count1 = count1 + 1
        print(count1)
    elif i == string.lower():
        count2 += count2
        print(count2)
    else:
        print('pora')

pora
pora
pora
pora
pora
pora
pora
pora
pora
pora

# Mile stone project 1: tic tac tow

In [1]:
#help to clear the screen after u run the code many times
from IPython.display import clear_output
 
    #global var
board = [' '] * 10
game_state = True
announce = ''

In [2]:
def reset_board():
    global board,game_state
    board = [' '] * 10
    game_state = True

In [3]:
#display the board fun
def display_board():
    clear_output()
    print(board[7]+ '|' +board[8]+ '|'+ board[9])
    print('-----')
    print(board[4]+ '|' +board[5]+ '|'+ board[6])
    print('-----')
    print(board[1]+ '|' +board[2]+ '|'+ board[3])

#### logic to win the game , write all logics like... all rows, columns and diagonals

In [4]:
def win_check(board, player):
    if (board[7] == board[8] == board[9] == player) or \
        (board[4] == board[5] == board[6] == player) or \
        (board[1] == board[2] == board[3] == player) or \
        (board[7] == board[4] == board[1] == player) or \
        (board[8] == board[5] == board[2] == player) or \
        (board[9] == board[6] == board[3] == player) or \
        (board[1] == board[5] == board[9] == player) or \
        (board[7] == board[5] == board[3] == player):
        return True
    else: 
        return False

#### function to check if the board is full or in case of tie

In [5]:
def full_board_check(board):
    '''function to check if any remaining blanks are in the board '''
    #remember index 0 is always empty
    if " " in board[1:]:
        return False
    else: 
        return True

#### function to choose the mark position on the board

In [6]:
def ask_player(mark):
    '''ask player wr to place X or O and check the validity'''
    global board
    req = 'choose wr to place your: ' + mark
    while True:
        try: 
            choose = int(raw_input(req))
        except ValueError:
            print("sorry, plz input a number from 1-9")
            continue
            
        if board[choice] == " ":
            board[choice] == mark
            break
        else: 
            print ("that space isnt empty.")
            continue

In [ ]:
def play_game():
    reset_board()
    global announce
    
    #set marks
    X = 'x'
    O = 'o'
    while True:
        #show board
        clear_output()
        display_board()
        ask_player()
        
        #player X turn
        game_state,announce = player_choice()
        print (announce)
        if game_state == False:
            break
            
        #player O turn
        game_state,announce = player_choice()
        print (announce)
        if game_state == False:
            break
            
        #ask player for rematch
    rematch = raw_input('would you like to play again? y/n')
    if rematch == 'y':
        play_game()
    else:
        print ("thanks for playing!")

In [ ]:
def player_choice():
    marker=''
    while marker != 'X' and marker != 'O':
        marker = input('player1: choose X or O:').upper()
        
    if marker == 'X':
        return ('X', 'O')
    else: 
        return ('O', 'X')

In [ ]:
play_game()

# Object oriented programming

In [53]:
 class Dog():
        def __init__(self,breed,color,name,age):
            #attributes , we take the arguments, assign it using self.atribute_name
            #here atttributes are breed, name etc
            self.breed = breed
            self.color = color
            self.name = name
            self.age = age

In [60]:
Lab = Dog(breed='lab', color= 'black', name= 'puppy', age = 10)

In [61]:
husky = Dog(breed ='husky', color = 'white', name = 'aleska' ,age = 5)

In [63]:
Lab.age

10

In [64]:
husky.name

'aleska'

### class object attributes

In [66]:
#these are attributes to be same for any instances of the class
#methods: actions that performed  with the object we created

In [84]:
 class Dog():
        #class obj attribute
        #same for any instance of the class
        species = 'mammal'
        
        def __init__(self,breed,color,name,age):
            #attributes , we take the arguments, assign it using self.atribute_name
            #here atttributes are breed, name etc
            self.breed = breed
            self.color = color
            self.name = name
            self.age = age
            
        #operation/actions ---> methods 
        #methods are functions defines inside the class
        def bark(self, number):
            print('woof!!! my name is {} and th number is {}'.format(self.name,number))

In [85]:
Lab1 = Dog('lab','black','puppy',10)

In [86]:
Lab1.species #now we can see species

'mammal'

In [87]:
Lab1.name

'puppy'

In [89]:
#for method call inside the class we need () of method 
Lab1.bark(4)

woof!!! my name is puppy and th number is 4

In [105]:
#example 2
class Circle():
    #class object atribute
    pi = 3.14
    
    def __init__(self,radius = 1):
        self.radius = radius
        self.area = radius*radius*self.pi
    #method
    def get_circum(self):
        return self.radius*self.pi*2

In [106]:
my_circle = Circle(30) #overwriting radius

In [107]:
my_circle.pi

3.14

In [108]:
my_circle.radius

30

In [109]:
my_circle.get_circum()

188.4

In [111]:
my_circle.area

2826.0

### inheritance and polymorphism

In [11]:
#base class
class Animal():
    def __init__(self):
        print("amimal created")
        
    def who_am_i(self): #method
        print("im an animal")
        
    def eat(self): #method
        print("im eating now")

In [12]:
ani = Animal()

amimal created

In [13]:
ani.eat()

im eating now

In [15]:
ani.who_am_i()

im an animal

In [32]:
class Dog(Animal): #inheritance from base class
    def __init__(self):
        Animal.__init__(self)
        print("dog created")
        
    def eat(self): #overwrite base class method
        print("im eating biscuits")
        
    def bark(self): #add methods
        print("woooofffff!!!!")

In [29]:
mydog = Dog()

amimal created
dog created

In [30]:
mydog.eat() #old methods are used here also

im eating biscuits

In [31]:
mydog.bark()

woooofffff!!!!

### polymorrhism

In [38]:
class Dog():
    
    def __init__(self,name):
        self.name = name
    
    def speak(self):
        return self.name + " says woof!!"

In [43]:
class Cat():
    
    def __init__(self,name):
        self.name = name
    
    def speak(self):
        return self.name + " says meow!!"

In [44]:
niko = Dog("niko")
kitty = Cat("kitty")

In [45]:
print(niko.speak())

niko says woof!!

In [46]:
print(kitty.speak())

kitty says meow!!

In [54]:
#method 1 to show polymorph
for pet in [niko,kitty]: #list of pets name
    print(type(pet)) #print type of the pet 
    print(pet.speak()) #see what we call same method on 2 classes

<class '__main__.Dog'>
niko says woof!!
<class '__main__.Cat'>
kitty says meow!!

In [57]:
#method 2 using functions
def pet_speak(pet):
    print(pet.speak())

In [58]:
pet_speak(niko)

niko says woof!!

In [59]:
pet_speak(kitty)

kitty says meow!!

In [71]:
#special  methods
class Book():
    def __init__(self,title,author,pages):
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return f"{self.title} by {self.author}"
    def __len__(self):
        return self.pages

In [72]:
b = Book('python rocks','jose', 300)

In [73]:
 print(b)   #asks what is the str rep resentation of b

python rocks by jose

In [74]:
str(b) #str version of report we got

'python rocks by jose'

In [75]:
len(b)

300

In [78]:
del b # delete the variable

### home work problems

In [1]:
class Line:
    
    def __init__(self,coord1,coord2):
        self.coord1 = coord1
        self.coord2 = coord2
        
    def distance(self):
        x1,y1 = self.coord1
        x2,y2 = self.coord2
        
        return ((x2-x1)**2 + (y2-y1)**2)**0.5
    
    def slope(self):
        x1,y1 = self.coord1
        x2,y2 = self.coord2
        
        return (y2-y1) / (x2-x1)

In [2]:
c1 = (3,2)
c2 = (8,10)

In [113]:
myline = Line(c1,c2)

In [114]:
myline.distance()

9.433981132056603

In [115]:
myline.slope()

1.6

In [6]:
### ex 2
class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
        
    def distance(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        
        return ((x1+y1)+ (x2+y2))

In [7]:
p1 = (1,2)
p2 = (2,4)

In [8]:
add = Line(p1,p2)

In [9]:
add.distance

In [10]:
add.distance()

9

In [11]:
3 + 4

7

### Account program exercise

In [145]:
class Account():
    
    def __init__(self,owner,balance =0):
        
        self.owner = owner
        self.balance = balance
        
    def deposit(self,dept_amt):
        
        self.balance = self.balance + dept_amt
        print(f"Added {dept_amt} to the balance")
        
    def withdrawl(self, with_amt):
        
        if self.balance > with_amt:
            self.balance = self.balance - with_amt
            print("withdrawl accepted")
        else :
            print (f"Balance chusko ra puka, anta money ledu, u have {self.balance}")
            
    def __str__(self):
        return f"owner : {self.owner} \nBalance: {self.balance}"

In [148]:
a = Account("bobby" , 1000)

In [ ]:
print(a)

In [ ]:
a.deposit(1500)

In [ ]:
a.withdrawl(1000)

In [ ]:
a.withdrawl(1700)